@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: Roboto;
}

.weather-container {
    background-color: #374151;
    color: white;
    margin: 0;
    border-radius: 5px;
    padding: 6px;
    height: 25.5vh;
}
  
.weather-info {
    width: 100%;
    max-width: 1200px;
}
  
.weather-row {
    display: flex;
    align-items: center;
}
  
.temperature-container {
    display: flex;
    align-items: center;
}
  
.temperature {
    padding-left: 30px;
    padding-top: 0px;
    font-size: 52px;
    font-weight: bold;
    margin-right: 10px;
    color: #fff;
}
  
.icon {
    font-size: 48px;
    color: #ffbb00 !important;
}
  
.weather-details {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
}
  
.weather-item {
    font-size: 16px;
    padding: 1px;
}
  
.weather-item strong {
    font-weight: bold;
}
  
.error-message {
    color: red;
    font-weight: bold;
}

/* Estilo para el contenedor de carga */
.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    padding: 25px;
    height: 70%;
    font-size: 35px;
    color: white;
    animation: fadeIn 1s ease-in-out;
}
  
/* Animación de aparición */
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
  
/* Efecto de pulso en el texto */
.loading-container span {
    animation: pulse 1.5s infinite;
}
  
/* Animación de pulso */
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
}