.thermometer {
  width: 55rem;
  height: 30px;
  background: #000000;
  border-radius: 20px;
  position: relative;
  margin: 20px auto;
}

.thermometer-fill {
  background: #ff5733;
  position: absolute;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 20px;
  transition: width 0.5s ease;
}

.thermometer-label {
  position: absolute;
  font-weight: bold;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  .thermometer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 55px);
  }
}