.calendario-solo-mostrar {
    padding: 0px;
}

.event-list {
    list-style: none;
    padding: 0;
}

.event-list li {
    margin: 2px 0;
    padding: 0px;
    border-radius: 3px;
}

.react-calendar .react-calendar__month-view__days__day {
    height: 50px !important;
}