.calendario-container9 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
}

.calendario9 {
  width: auto;
  max-width: 800px;
  background-color: #161726;
  border-radius: 5px;
}

.month-view9 {
  padding: 20px;
  color: #ecf0f1;
}

.month-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.month-navigation button {
  background-color: #374151;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 3px;
}

.month-navigation button:hover {
  background-color: #374151a2;
}

.week-view9 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.day-tile9 {
  padding: 10px;
  background-color: #374151;
  border-radius: 3px;
  color: #ecf0f1;
  margin: 1px;
}

.day-name {
  color: #ffffff;
}

.empty9 {
  background-color: transparent; /* Espacios vacíos */
}

.day-tile9 h3 {
  margin: 3px;
}

.day-tile9 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.day-tile9 li {
  border-radius: 3px;
  padding: 4px 8px;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .calendario9 {
    width: 100%;
    padding: 10px;
    background-color: #161726;
    border-radius: 5px;
  }

  .month-view9 {
    padding: 10px;
  }

  .day-tile9 {
    padding: 5px;
  }

  .day-tile9 h3 {
    margin: 2px;
  }

  .day-tile9 li {
    padding: 2px 4px;
  }

  .month-navigation button {
    padding: 5px 8px;
  }

  .week-view9 {
    grid-template-columns: repeat(7, 1fr);
  }
}