@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: #fff7ed;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-content {
  width: 100%;
  max-width: 100%;
  padding: 8px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedorClimaCalendario {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 8px;
  margin: 8px 0;
  width: 100%;
  max-width: 1000px;
  background-color: #374151;
  padding: 15px;
  border-radius: 8px;
}

.clima-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #374151;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.calendario-link {
  text-decoration: none;
  color: black;
  display: block;
  background-color: #374151;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.datosHumedad {
  display: flex;
  flex-direction: column;
  background-color: #374151;
  border-radius: 8px;
  padding: 15px;
  margin: 15px 0;
  width: 100%;
  max-width: 1000px;
}

.tituloHumedad {
  font-size: 1em;
  text-align: left;
  margin-bottom: 8px;
}

.termometro {
  margin-top: 10px;
}

.mapa-container {
  background-color: #374151;
  border-radius: 8px;
  padding: 15px;
  margin: 15px 0;
  width: 100%;
  max-width: 1000px;
}

@media screen and (max-width: 768px) {
  .contenedorClimaCalendario {
    grid-template-columns: 1fr;
  }
  
  .datosHumedad, .mapa-container {
    padding: 10px;
  }
}

@media screen and (max-width: 480px) {
  .contenedorClimaCalendario,
  .datosHumedad,
  .mapa-container {
    padding: 10px;
  }
}