@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    color: white;
    /* background-color: #161726; */
    background-color: #fff7ed ;
    font-family: Roboto;
}

.contenedorClimaCalendario {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 20px;
    padding-bottom: 0;
    padding-left: 4.5%;
    padding-right: 4.5%;
}

.clima, .CalendarioHome {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #374151; 
}

.clima {
    height: 300px;
}

.CalendarioHome {
    height: 300px;
}

.calendario {
    text-decoration: none;
}

.datosHumedad{
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-radius: 5px;
    background-color: #374151;
    height: 100px;
    margin-left: 4.5%;
    margin-right: 4.5%;
    margin-top: 15px;
}

.termometro{
    order: 2;
    padding-right: 4%;
}

.tituloHumedad{
    order: 1;
    padding-left: 4%;
}

.mapa{
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    background-color: #374151;
    height: auto;
    margin-left: 4.5%;
    margin-right: 4.5%;
    margin-top: 15px;
    margin-bottom: 15px;
}

