.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #000853;
    color: white;
}
  
.weather-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
}
  
.weather-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
  
.temperature-container {
    display: flex;
    align-items: center;
}
  
.temperature {
    font-size: 32px;
    font-weight: bold;
    margin-right: 10px;
}
  
.icon {
    font-size: 48px;
}
  
.weather-details {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
}
  
.weather-item {
    font-size: 16px;
    width: 200px;
}
  
.weather-item strong {
    font-weight: bold;
}
  
.error-message {
    color: red;
    font-weight: bold;
}
  