@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: Roboto;
}

.footer {
  padding: 10px;
  background-color: #374151;
  padding-right: 25px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.seccionFooter {
  padding-right: 2%;
  font-size: 60px;
  text-align: right;
  order: 2;
}

.containerSeccion2{
  order: 1;
  padding-left: 2%;
}

.tituloContacto{
  text-align: right;
  padding-left: 15px;
}

.footer-section {
  margin-bottom: 10px;
}

nav {
  padding: 10px;
  display: flex;
  gap: 20px;
  justify-content: left;
  padding-left: 0;
}

.footer-link {
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  text-decoration: none !important;
}

.footer-link:hover {
  color: cadetblue;
}

.footer-correo {
  margin: 0 15px;
  color: #007BFF;
  text-decoration: none;
  display: inline;
  border-right: 1px solid white;
  padding-right: 20px;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer p {
  font-size: 14px;
  color: #ffffff;
}

