@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #374151;
}

.tituloHeader {
    font-size: 30px;
    padding-left: 40px;
    text-align: left;
}

.Volver {
    width: 40px;
    padding-left: 15px;
    padding-top: 3px;
}

.botonInforme {
    text-align: right;
    margin-right: 15px;
    text-decoration: none;
    color: #fff;
    padding-right: 10px;
    border-right: 3px solid rgba(255, 255, 255, 0.192);
    font-size: 20px;
    padding-top: 3px;
}

.botonInforme:hover {
    color: cadetblue;
}

.Menu {
    text-align: right;
    padding-top: 3px;
}

.searchMenu {
    height: 87%;
    width: 25%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    right: 0;
    background-color: #161726;
    border: 0px solid black;
    padding: 10px;
    z-index: 1000;
}

.search-container {
    position: relative;
    display: inline-block;
}
  
.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
  
.search-button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent !important;
    cursor: pointer;
}
  
.search-button img {
    height: 25px;
}
  

.searchMenu input {
    width: 95%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
}

.searchMenu button {
    border: none;
    background-color: #374151;
    color: white;
    cursor: pointer;
}
.uploaded-file-item {
    margin-top: 10px;
    padding: 10px;
    background-color: #374151;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.botonEditar, .botonEliminar {
    background-color: transparent !important;
    border: none;
    padding: 5px !important;
}

.Eliminar{
    height: 25px;
}

.Editar{
    height: 25px;
}