body {
    margin: 0;
    color: white;
    background-color: #161726;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #374151;
}

.tituloHeader {
    font-size: 30px;
    padding-left: 40px;
    text-align: left;
}

.Volver {
    width: 40px;
    padding-left: 15px;
    padding-top: 3px;
}

.botonInforme{
    text-align: right;
    margin-right: 15px;
    text-decoration: none;
    color: #fff;
    padding-right: 10px;
    border-right: 3px solid rgba(255, 255, 255, 0.192);
    font-size: 20px;
    padding-top: 3px;
}

.botonInforme:hover{
    color: cadetblue;
}

.Menu {
    text-align: right;
    padding-top: 3px;
}

.contenedorClimaCalendario {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 20px;
    padding-bottom: 0;
}

.clima, .CalendarioHome {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #fff; 
}

.clima {
    height: 300px;
}

.CalendarioHome {
    height: 300px;
}

.humedad{
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    background-color: #374151;
    height: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

.mapa{
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    background-color: #374151;
    height: 300px;
    margin-left: 20px;
    margin-right: 20px;
}

.footer {
    padding: 10px;
    background-color: #374151;
    padding-right: 25px;
}

.seccionFooter {
    text-align: right;
    margin: 5px;
    font-size: 18px;
}
