body {
    margin: 0;
    color: white;
    background-color: #161726;
}

.contenedorClimaCalendario {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 20px;
    padding-bottom: 0;
}

.clima, .CalendarioHome {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #374151; 
}

.clima {
    height: 300px;
}

.CalendarioHome {
    height: 300px;
}

.calendario {
    text-decoration: none;
}

.humedad{
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    background-color: #374151;
    height: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

.mapa{
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    background-color: #374151;
    height: 300px;
    margin-left: 20px;
    margin-right: 20px;
}

