@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto !important;
}

.Titulo-Login {
    margin-bottom: 0;
    margin-left: 30px;
}

.Info-Login-Conteiner {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
    padding: 20px;
    padding-bottom: 0;
}

.Info-Conteiner {
    align-items: center;
    border: none;
    width: 97%;
}

.Info-Conteiner-2 {
    align-items: center;
    border: none;
    width: 97%;
    margin-left: 19px;
    margin-bottom: 0;
    margin-top: 0;
}

.Login-Conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #374151;
    border-radius: 3px;
}

.login-form {
    padding: 2rem;
    width: 100%;
    text-align: center;
}

.login-form label {
    font-size: 20px;
}

.login-form input {
    width: 90%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    outline: none;
    border-bottom: 0px solid #000000;
    background-color: #dfdfdf;
    color: #000000;
    font-size: 20px;
}

.login-form button {
    width: 100%;
    padding: 1rem;
    background-color: #272e3a81;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 15px;
}

.login-form button:hover {
    background-color: #1617268e;
}

.Foto-Conteiner {
    border: none;
    width: 97%;
    padding: 0px;
    margin: 19px;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-top: 0;
}

.Imagen {
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    flex: 1;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 30px;
}