.header {
  height: 50px;
  padding: 0 10px;
  background-color: #374151;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.tituloHeader {
  font-size: 1.1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 60%;
}

.Volver, .Menu {
  width: 30px;
  height: 30px;
}